@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {

  /* Font */
  --ff-ld: 'Lexend Deca', sans-serif;
  --ff-bsd: 'Big Shoulders Display', cursive;
  --fs: 15px;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Colors */
  /* Primary*/
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  /* paragraphs */
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --color-very-light-gray: hsl(0, 0%, 95%);

  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-ld);
  background-color: var(--color-very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.cards {
  max-width: 20.5rem;
  margin-top: 5.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-orange {
  background-color: var(--color-bright-orange);
}

.card-dark-cyan {
  background-color: var(--color-dark-cyan);
}

.card-very-dark-cyan {
  background-color: var(--color-very-dark-cyan);
}

.container {
  margin: 0 3rem;
}

.card {
  padding: 3rem 0;
}

.card__icon {
  margin-bottom: 1.9rem;
}

h2 {
  color: var(--color-very-light-gray);
  font-family: var(--ff-bsd);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-bottom: 1.6rem;
}

.card__info {
  color: var(--color-transparent-white);
  font-size: 0.95rem;
  line-height: 1.56rem;
  margin-bottom: 1.5rem;
}

.card__btn {
  line-height: 2.8rem;
  width: 9.3rem;
  border-radius: 1.5rem;
  font-size: 0.95rem;
  border: 2px solid var(--color-very-light-gray);
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-orange {
  color: var(--color-bright-orange);
}

.btn-orange:hover {
  color: var(--color-very-light-gray);
  background-color: var(--color-bright-orange);
}

.btn-dark-cyan {
  color: var(--color-dark-cyan);
}

.btn-dark-cyan:hover {
  color: var(--color-very-light-gray);
  background-color: var(--color-dark-cyan);
}

.btn-very-dark-cyan {
  color: var(--color-very-dark-cyan);
}

.btn-very-dark-cyan:hover {
  color: var(--color-very-light-gray);
  background-color: var(--color-very-dark-cyan);
}

footer {
  margin: 0.5rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 376px) {
  .cards {
    max-width: 57.5rem;
    margin-top: 10.7rem;
    display: flex;
  }

  .card__info {
    margin-bottom: 5.2rem;
  }

}